<!DOCTYPE html>
<html>

<head>
  <title>Top FIIs para {{response['mes_alvo']}}</title>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
  <link rel="stylesheet" href="https://www.w3schools.com/lib/w3-theme-black.css">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.3.0/css/font-awesome.min.css">
</head>

<body>

  <!-- Header -->
  <header class="w3-container w3-theme w3-padding" id="myHeader">
    
    <div class="w3-center">
    <h4>Confira a lista dos FIIs mais rentáveis</h4>
    <h1 class="w3-xxxlarge">Top fundos imobiliários para {{response['mes_alvo']}}</h1>
      
    <div class="w3-center">
    <div class="w3-dropdown-hover">
      <button class="w3-button w3-theme">Selecionar outro mês <i class="fa fa-caret-down"></i></button>
      <div class="w3-dropdown-content w3-bar-block w3-border">
        {% for i in range(response["qtd_meses"]) %}
        <a href="{{i+1}}" class="w3-bar-item w3-button">{{response['outros_meses'][i]}}</a>
        {% endfor %}
      </div>
    </div>
  </div>

  </div>
  </header>

  <div class="w3-row-padding w3-center w3-margin-top">

    {% for fundo in response['fundos'] %}
    <div class="w3-third">
      <div class="w3-card w3-container w3-animate-bottom" style="min-height:460px">
      
        <h2><b>{{fundo['codigo']}}</b></h2>

        {% if fundo['ordem'] == "1" %}
          <h1 style="font-size:80px">🥇</h1>
        {% endif %}
        {% if fundo['ordem'] == "2" %}
          <h1 style="font-size:80px">🥈</h1>
        {% endif %}
        {% if fundo['ordem'] == "3" %}
          <h1 style="font-size:80px">🥉</h1>
        {% endif %}
        
        <p>Rentabilida esperada: {{fundo['rentabilidade']}}</p>
        <p>Preço estimado: {{fundo['preço futuro']}}</p>
        <p>Dividendos estimados: {{fundo['dividendos futuro']}}</p><br>
        <p>
          <button class="w3-btn w3-xlarge w3-dark-grey w3-hover-light-grey" onclick="window.open('https://www.fundsexplorer.com.br/funds/{{fundo["codigo"]}}', '_blank').focus();" style="font-weight:900;">Sobre o fundo</button>
        </p>
      </div>
    
    </div>
    {% endfor %}
  </div>


  <!-- Footer -->
  <footer class="w3-container w3-theme-dark w3-padding-16">
    <p>Powered by Henrique Penna</p>
  
  </footer>

  <!-- Script for Sidebar, Tabs, Accordions, Progress bars and slideshows -->
  <script>

  </script>

</body>
</html>